*{
    margin: 0px;
}

a{
    text-decoration: none;
}

.imagem-da-loja{
    display: flex;
    justify-content: center;
    background-color: rgba(17,14,31,255);
    border: none;
    height: 200px;
}


.barra_superior{
    display: flex;
    justify-content: space-around;
    
    padding: 30px;
}

    .pesquisar{
        position: relative;
    }

    .pesquisar input{
        padding-right: 305px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .pesquisar img{
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }

.categoria{
    display: flex;
    justify-content: row;
    justify-content: center;
    justify-content: space-around;
    padding-bottom: 30px;
}

.roupas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    .imagem1{
        display: flex;
        height: 250px;
    }

    .imagem2{
        display: flex;
        height: 250px;
    }

    .imagem3{
        display: flex;
        height: 250px;
    }


    .imagem4{
        display: flex;
        height: 250px;
    }

    .imagem5{
        display: flex;
        height: 250px;
    }

    .imagem6{
        display: flex;
        height: 250px;
    }

.frases_atencao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    .frase1{
        padding-top: 150px;
        padding-bottom: 150px;
        text-decoration: double;
        font-size: 40px;
    }

    .frase2{
        padding-top: 150px;
        padding-bottom: 150px;
        text-decoration: double;
        font-size: 40px;
    }



.precos1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 100px;
}


.final{
    border: solid 1px;
    padding: 100px;
    background-color: rgba(17,14,31,255);
    
}

    .contatos h2{
        color: aliceblue;
        padding-bottom: 40px;
    }

        .whatsapp{
            padding-left: 50px;
        }

        .instagram{
            padding-top: 20px;
            padding-left: 30px;
        }

        